<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xml:lang="pt-BR" dir="ltr">
	<head>
		 <title>Nome do site | Descrição curta do site</title>  
		 
	</head>
	<body>
	<form th:action="@{/user/cadAnuncio}" th:object="${anunciosDataVM}" method="POST">
		<select name="tipoId" id="tipo" onChange="gettypes();">
		    <option value="0" selected="selected">Selecione um tipo</option>
			<option value="1" id="caminhao">Caminhão</option>
			<option value="2" id="reboque">Reboque</option>
			<option value="3" id="equipamento">Equipamento</option>
		</select>
			<select name="marcaId" id="anunciomarca" onChange="getmodels();">
				<option th:each="caminhoesMarcaDataVM, index : ${caminhoesMarcaDataVM}" th:text="${caminhoesMarcaDataVM.marca}"></option>
			</select>
			
			<select name="modeloId" id="modelos" onChange="getanos();">
			</select>
			
			<select name="anoId" id="anos" onChange="getvalor();">
			</select>
			
			<label id="labelvalor">Valor na fipe:</label> <span id="valorfipe"></span>
			<br/>
			<div id="optionCaminhao">
				<div>
					<label for="preco">Preço:</label><input type="text" name="preco" placeholder="Preço"/>
					<label for="Carroceria">Carroceria:</label><input type="text" name="carroceria" placeholder="Carroceria"/>
					<label for="cor">Cor:</label><input type="text" name="cor" placeholder="Cor"/>
					<label for="Odometro">Odometro - KM:</label><input type="text" name="odometro" placeholder="Odometro - Km"/>
					<label for="Tração">Tração:</label><input type="text" name="tracao" placeholder="Tração"/>
				</div>
				<div>
				<label for="cor">Observações:</label>
					<textarea name="obs" rows="6" cols="100" placeholder="Observações"></textarea>
				</div>
				<div th:if="${acessorios}">
					<block th:each="acessorio, index : ${acessorios}">
				    	<input name="acessorios" type="checkbox"  th:value="${acessorio.id}"/>
						<span th:text="${acessorio.acessorio}"></span>
					</block>
				</div>
			</div>
				<input type="submit" value="submit"/>
		</form>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3-min.js"></script>
	<script type="text/javascript" src="../js/gettypes.js"></script>
	<script>
	$(document).ready(function() {

			$('#labelvalor').hide();
			$('#optionCaminhao').hide();
		});
		
	</script>
</html>