<th:block th:fragment="menu">
<div id="col1">
    <div class="col-title">
       <h1>MENU</h1>
    </div>
    <ul id="panelmenu">
       <li>
          <a href="/newfeature">
             <i class="flat70-center flaticon-sell-product" alt="Criar anuncio" title="Criar anuncio"/>
          	 <div class="text-center"><strong>Criar anuncio</strong></div>
          </a>
       </li>
       <li>
          <a href="/statistics">
             <i class="flat70-center flaticon-bar-chart" alt="Estatísticas" title="Estatísticas"/>
             <div class="text-center"><strong>Estatísticas</strong></div>
           </a>
       </li>
       <li>
          <a href="/account">
              <i class="flat70-center flaticon-user-account-box" alt="Estatísticas" title="Estatísticas"/>
          	<div class="text-center"><strong>Minha conta</strong></div>
          </a>
       </li>
       <li class="last">
          <a href="/messages">
             <i class="flat70-center flaticon-close-envelope" alt="Estatísticas" title="Estatísticas"/>
          	<div class="text-center"><strong>Mensagens</strong></div>
          </a>
       </li> 
	</ul>
</div>
  </th:block>