<th:block th:fragment="menu">
<div class="col-lg-3 content-left">
	<div class="panel panel-info">
		<div class="panel-heading">
				<h3 class="panel-title">Menu</h3>
		</div>
	<div class="panel-body">
		<div class="well well-sm hidden-lg">
			<div class="mobile-categories"></div>
		</div>
		<div class="categories list-group hidden-xs hidden-sm hidden-md">
			<a href="/user/newfeature" class="list-group-item">Criar Anuncio <span class="flat-center flaticon-sell-product"></span></a>
			<a href="/user/account" class="list-group-item">Minha conta <span class="flat-center flaticon-user-account-box"></span></a>
			<a href="/user/statistics" class="list-group-item">Estatísticas <span class="flat-center flaticon-bar-chart"></span></a>
			<a href="/messages" class="list-group-item">Mensagens <span class="flat-center flaticon-close-envelope"></span></a>
			<a href="/logout" class="list-group-item">Sair <span class="flaticon-international-logistics-delivery-truck-symbol-with-world-grid-behind"></span></a>
		</div>
	</div>
</div>
</div>
  </th:block>