<th:block th:fragment="footer">
<!--Footer-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>


<!--footer-->
<footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
            
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                                <h1 class="title-widget">Caminhões</h1>
                                <ul>
                                	<li><a  href="#"><i class="fa fa-angle-double-right"></i> Scania</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Mercedes Benz</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Volvo</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Iveco</a></li>
                                  
                                </ul>
							</li>
                        </ul>
                </div><!-- widgets column left end -->
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                                <h1 class="title-widget">Carretas</h1>
                                <ul>
 									<li><a  href="#"><i class="fa fa-angle-double-right"></i>  Librelato</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Noma</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Guerra</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Randon</a></li>
                                </ul>
							</li>
                        </ul>
                </div><!-- widgets column left end -->
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                                <h1 class="title-widget">Equipamentos</h1>
                                <ul>
					 				<li><a href="#"><i class="fa fa-angle-double-right"></i> Munk</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right"></i> Thermoking</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right"></i> Eixo suspenso</a></li>
									<li><a href="#"><i class="fa fa-angle-double-right"></i> Plataforma</a></li>
                                </ul>
							</li>
                        </ul>
                </div><!-- widgets column left end -->
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                                <h1 class="title-widget">Contato </h1>
                                <div class="footerp"> 
                                <h2 class="title-median">Net Truck Rodoviários.</h2>
                                <p><b>Email:</b> <a href="mailto:info@webenlance.com">contato@nettruck.com.br</a></p>
								    <p><b>Telefone:</b> (34) 3211-2846 </p>
                                </div>
                                <div class="social-icons">
                                	<ul class="nomargin">
						                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
							            <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
							            <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
							            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>	
                                    </ul>
                                </div>
                    		</li>
                          </ul>
                       </div>
                </div>
		</div>
</footer>
<!--header-->
<div class="footer-bottom">
	<div class="container">
		<div class="row-base">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="copyright">
					© 2017-2022, Net Truck, Todos os direitos reservados
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="design">
					 <a target="_blank" href="http://www.blowmindsolutions.com.br">Desenvolvido por</a> 
					 <a target="_blank" href="http://www.blowmindsolutions.com.br"><img th:src="@{/img/logo-blowmind.png}"></img></a> 
				</div>
			</div>
		</div>
	</div>
</div>
		</th:block>