<th:block th:fragment="footer">
<div class="container">
  	<div class="text-copyright-home">
  		<p>teste .</p>
    </div>
</div>
<div id="footer">
    <div id="shadow-footer"></div>
    <div class="container">
        <div id="site-map">
            <ul class="copyright-text"> 
                <li>
                        <p>Texto explicativo.</p>
                                    </li>
            </ul>
            <ul>
                <li>Classificados</li>
                    <li><a href="fabricantes.html" title="Fabricantes">Fabricantes</a></li>
                                <li><a href="aeronaves.html" title="Aeronaves à venda">Aeronaves</a></li>
                <li><a href="pecas/classificados.html" title="Partes e peças de aeronaves">Partes e peças</a></li>
                <li><a href="servicos/classificados.html" title="Serviços para aviação executiva">Serviços</a></li>
                <li><a href="hangares/classificados.html" title="Hangares para venda ou aluguel">Hangares</a></li>
                <li><a href="empregos/classificados.html" title="Empregos na aviação executiva">Empregos</a></li>
            </ul>
            <ul>
                <li>Institucional</li>
                <li><a href="quem-somos.html" title="A Empresa">A Empresa</a></li>
                <li><a href="publicidade.html" title="Publicidade no FlightMarket">Publicidade</a></li>
                <li><a href="politica-de-privacidade.html" title="Política de Privacidade">Política de privacidade</a></li>
                <li><a href="termos-de-uso.html" title="Termos de Uso">Termos de uso</a></li>
                <!--li><a href=""></a></li-->
            </ul>
            <ul>
                <li>Mapa do site</li>
                <li><a href="aeronaves.html" title="Classificados de Aeronaves">Classificados</a></li>
                <li><a href="anuncie.html" title="Anuncie no FlightMarket">Anuncie</a></li>
                <li><a href="solucoes-financeiras.html" title="Financiamento, Seguro e Consórcio.">Soluções financeiras</a></li>
                <li><a href="noticias.html" title="Notícias e artigos">Notícias</a></li>
                <li><a href="busca/resultadoeee6.html?busca=aeroporto&amp;tipo=simples&amp;page=0&amp;results=10&amp;icao=&amp;aeroporto=&amp;estado=" title="Busca de aeroportos">Aeroportos</a></li>
                <li><a href="busca-vendedores.html" title="Busca de vendedores de aeronaves">Busca de vendedores</a></li>
            </ul>
            <ul>
                <li>Atendimento</li>
                <li><a href="fale-conosco.html" title="Fale Conosco" rel="nofollow">Fale Conosco</a></li>
                <li><a href="perguntas-frequentes.html" title="Perguntas e dúvidas frequentes" rel="nofollow">Dúvidas gerais</a></li>
                <li><a href="anuncie/tabela-aeronave.html#conteudos-aba" title="Dicas para anunciar sua aeronave" rel="nofollow">Dicas para anunciar</a></li>
                <li><a href="anuncie/tabela-aeronave.html#plano-revendedores" title="Planos para corretores e brokers" rel="nofollow">Planos para vendedores</a></li>
            </ul>
            <ul>
                <li>Newsletter</li>
                <div class="containerFooter1">
                    <form class="formNews" method="post">
                        <label for="news-nome">Nome</label>
                        <input type="text" name="news-nome" id="news-nome" value="" class="validate[required]"/>
                        <label for="news-email" class="two">E-mail</label>
                        <input type="text" name="news-email" id="news-email" value="" class="validate[required],custom[email]"/>
                        <input type="submit" value="Enviar" style="width:auto; cursor:pointer"/>
                    </form>
                </div>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="social">
            <p>Siga-nos</p>
            <ul>
                <li><a href="../../external.html?link=http://facebook.com/flightmarket" target="_blank" id="bt-face" class="facebook" title="Facebook">Facebook</a></li>
                <li><a href="../../external.html?link=http://twitter.com/flightMarket" target="_blank" id="bt-twitter" title="Twitter">Twitter</a></li>
                <li><a href="../../external.html?link=http://instagram.com/flightmarket" target="_blank" id="bt-instagram" title="Instagram">Instagram</a></li>
            </ul>
        </div>
        <div id="pag">
            <div class="box">
                <p>Formas de pagamento</p>
                <ul>
                    <li class="visa"></li>
                    <li class="master"></li>
                    <li class="american"></li>
                    <li class="boleto"></li>
                    <li class="paypal"></li>
                    <img src="../images/pagseguro.png" />
                </ul>
            </div>
            <!--div class="box site-seguro">
                <em></em>
                <p></p>
                <span></span>
            </div-->
        </div>
        <div class="clear"></div>
        <p id="copyright">Copyright © 2013 FlightMarket</p>
    </div>	
</div>
</th:block>