<th:block th:fragment="search">
<div id="box_tabs">
<div id="tabs">
        <div id="conteudos">
            <!-- Aba 1 -->
            <div id="aba1" class="box-aba">
                <form id="formBusca" method="get" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado" class="validate buscaClassificados">
                    <input type="hidden" name="busca" value="aeronave" />
                    <input type="hidden" name="tipo" value="simples" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />
                    <fieldset>
                        <input type="text" name="query" maxlength="150" id="busca-simples" value="" placeholder="Digite aqui o fabricante e/ou modelo do caminhão, carreta ou implemento (Ex: Librelato 1312)" class="validate[required]"/>
                        <input type="submit" class="submit" value=""/>
                    </fieldset>
                </form>

                <a href="#" id="search-avancada">Busca Avançada</a>

                <form id="formBuscaAvancada" method="get" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado" class="validate buscaClassificados">
                    <input type="hidden" name="busca" value="aeronave" />
                    <input type="hidden" name="tipo" value="avancada" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />

                    <div class="parent-input">
                        <label for="aeronave">Aeronave:</label>
                        <input type="radio" id="radio-aviao" name="aeronave" value="1" class="validate[required] radio"/><p>Avião</p>
                        <input type="radio" id="radio-helicoptero" name="aeronave" value="2" class="validate[required] radio"/><p>Helicóptero</p>
                    </div>
                    <div class="parent-input">
                        <label for="tipo-venda">Tipo de venda:</label>
                        <input type="radio" name="tipo-venda" value="1" class="radio"/><p>Total</p>
                        <input type="radio" name="tipo-venda" value="3" class="radio"/><p>Venda compartilhada</p>
                    </div>
                    <div class="clear"></div>
                    <div class="parent-select firstLabel">
                        <label>Categoria:</label>
                        <select name="tipoAeronave" id="combo-categoria" class="validate[required]">
                            <option value="">Selecione</option>
                        </select>
                        <div class="select-fake">Selecione</div>
                    </div>
                    <div class="parent-select">
                        <label>Fabricante:</label>
                        <select name="fabricante" id="fabricante-aeronave">
                            <option value="">Todos</option>
                        </select>
                        <div class="select-fake">Todos</div>
                    </div>
                    <div class="parent-select parent-right">
                        <label>Modelos:</label>
                        <select name="modelo" id="combo-modelos">
                            <option value="">Todos</option>
                        </select>
                        <div class="select-fake">Todos</div>

                    </div>
                    <div class="parent-select firstLabel">
                        <label class="labelAssentos">Qtd. de<br />assentos:</label>
                        <input type="text" name="assentos" id="assentos" maxlength="2" />
                    </div>
                    <div class="parent-select">
                        <label>Ano:</label>
                        <select id="de-ano-aeronave" name="ano">
                            <option value="1900" selected="selected">1900</option>
                            <option value="1901" >1901</option>
                           
                     </select>
                 	<div class="select-fake"></div>
                    </div>
                    <div class="parent-select parent-right">
                        <label>Até:</label>
                        <select id="ate-ano-aeronave" name="ate" class="validate[required]">
                            <option value="1900" >1900</option>
                            <option value="1901" >1901</option>
                            <option value="2020" selected="selected">2020</option>
                     </select>
                        <div class="select-fake"></div>
                    </div>
                    <input type="submit" class="submit" value=""/>
                </form>
            </div>
            <script>
                jq(document).ready(function() {
                    adicionarEventosCategoria();
                    /*jq('#radio-helicoptero').change(function(){
                     adicionaCategoriasHelicoptero();
                     });
                     jq('#radio-aviao').change(function(){
                     adicionaCategoriasAviao();
                     });*/
                    setTextOnFakeCombo('formBuscaAvancada', 'ate-ano-aeronave');
                    setTextOnFakeCombo('formBuscaAvancada', 'de-ano-aeronave');
                });
            </script>
            <!-- Aba 2 -->
            <div id="aba2" class="box-aba">
                <form id="formPecas" method="get" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado" class="validate buscaClassificados">
                    <input type="hidden" name="busca" value="peca" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />
                    <input type="text" name="query" id="busca-equipamentos" maxlength="30" value="" placeholder="Digite aqui sua pesquisa por peça ou equipamento:" class="validate[required]"/>
                    <input type="submit" class="submit" value=""/>
                </form>
            </div>
            <!-- Aba 3 -->
            <div id="aba3" class="box-aba">
                <form id="formServicos" class="validate buscaClassificados" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado">
                    <fieldset class="full">
                        <input type="hidden" name="busca" value="servicos" />
                        <input type="hidden" name="page" value="0" />
                        <input type="hidden" name="results" value="10" />
                        <select name="servicos" class="validate[required]">
                            <option value="">Selecione o serviço</option>
                    </select>
                    <div class="select-fake">
                        Selecione o serviço                        
                    </div>
                    </fieldset>
                    <input type="submit" class="submit" value=""/>
                </form>
            </div>
            <!-- Aba 4 -->
            <div id="aba4" class="box-aba">
                <div id="abaEmpregos">
                    <form id="formEmpregos" class="formSearch validate buscaClassificados" method="get" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado">
                        <input type="hidden" name="busca" value="empregos" />
                        <input type="hidden" name="page" value="0" />
                        <input type="hidden" name="results" value="10" />
                        <div class="parent-input">
                           <input type="radio" name="pesquisa-por" value="2" id="pesquisar-oportunidades" class="validate[required]"/>
                           <label for="pesquisar-oportunidades">Pesquisar oportunidades de emprego</label>
                           <input type="radio" name="pesquisa-por" value="1" id="pesquisar-curriculos" class="validate[required]"/>
                           <label for="pesquisar-curriculos">Pesquisar por currículos profissionais</label>
                        </div>
                        <div class="parent-select parent-right">
                            <label>Profissão:</label>
                            <select name="profissao" class="" id="combo-profissao">
                                <option value="">Todas</option>
                                <option value="1">Comandante</option>
                                <option value="2">Co-piloto</option>
                                <option value="3">Mecânico/Técnico</option>
                                <option value="6">Outro</option>
                            </select>
                            <div class="select-fake">Todas</div>
                        </div>
                        <div class="parent-select parent-uf">
                            <label>País:</label>
                            <select name="pais" id="empregos-pais" class="validate[required]">
                                <option value="1">Brasil</option>
                        </select>
                            <div class="select-fake">Todos</div>
                        </div>
                        <div class="parent-select">
                            <label>Estado:</label>
                            <select name="estado_combo" id="empregos-estado" class="">
                                <option value="">Todos</option>
                            </select>
                            <div class="select-fake">Todos</div>
                        </div>
                        <div class="parent-select parent-right">
                            <label>Cidade:</label>
                            <select name="cidade" id="empregos-cidade" class="">
                                <option value="">Todas</option>
                            </select>
                            <div class="select-fake">Todas</div>
                        </div>
                        <input type="hidden" name="estado" id="empregos-hidden-estado" />
                        <input type="submit" class="submit" value=""/>
                    </form>
                    <script>
                        jq(document).ready(function() {
                            jq('#formEmpregos').submit(function() {
                                var estado;
                                var combo = jq('#empregos-estado');
                                combo.find('option').each(function() {
                                    if (jq(this).attr('value') == combo.val()) {
                                        jq('#empregos-hidden-estado').val(jq(this).html());
                                    }
                                });
                            });
                        });
                    </script>
                </div>
            </div>
            <!-- Aba 5 -->
            <div id="aba5" class="box-aba">
                <form id="formSearch" class="formSearch validate buscaClassificados" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado" method="get">
                    <input type="hidden" name="busca" value="aeroporto" />
                    <input type="hidden" name="tipo" value="simples" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />
                    <label>Busca simples</label>
                    <fieldset>
                        <label for="codigo-aeroporto">Código ICAO:</label>
                        <input type="text" name="icao" maxlength="4" id="codigo-aeroporto" value=""/>
                        <label for="aeroporto">Nome:</label>
                        <input type="text" name="aeroporto" id="aeroporto" placeholder="Nome do aeródromo ou heliponto" maxlength="30" value=""/>
                    </fieldset>
                    <fieldset>
                        <div class="parent-select">
                            <label>Estado:</label>
                            <select name="estado" id="estado-aeroporto" class="">
                            </select>
                            <div class="select-fake"></div>
                        </div>
                        <div class="parent-select">
                            <label>Cidade:</label>
                            <select name="cidade" id="cidade-aeroporto" class="">
                            </select>
                            <div class="select-fake">Todas</div>
                        </div>
                        <input type="submit" class="submit" value="" id="submit-aeroporto-simples"/>
                    </fieldset>
                </form>
                <script>
                    jq(document).ready(function() {
                        jq('#formSearchAvancada').submit(function() {
                            jq('#hidden-cidade-aeroporto').val(jq('#cidade-aeroporto').val());
                            jq('#hidden-estado-aeroporto').val(jq('#estado-aeroporto').val());
                            jq('#hidden-icao').val(jq('#codigo-aeroporto').val());
                            jq('#hidden-aeroporto').val(jq('#aeroporto').val());
                        });
                    });
                </script>
                <form id="formSearchAvancada" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado" method="get" class="formSearch formSearchAvancada validate buscaClassificados" style="display:none;">
                    <input type="hidden" name="busca" value="aeroporto" />
                    <input type="hidden" name="tipo" value="avancada" />
                    <input type="hidden" id="hidden-icao" name="icao" value="" />
                    <input type="hidden" id="hidden-aeroporto" name="aeroporto" value="" />
                    <input type="hidden" id="hidden-cidade-aeroporto" name="cidade" value="" />
                    <input type="hidden" id="hidden-estado-aeroporto" name="estado" value="" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />
                    <fieldset>
                        <div class="parent-select">
                            <label style="line-height:36px !important;">Tipo:</label>
                            <select id="a_tipo_aeroporto" name="tipo_aeroporto" class="">
                                <option value="">Todos</option>
                                <option value="AERÓDROMO">AERÓDROMO</option>
                                <option value="HELIPONTO">HELIPONTO</option>
                            </select>
                            <div class="select-fake">Todos</div>
                        </div>
                        <div class="parent-select">
                            <label style="line-height:36px !important;">Pavimentado?:</label>
                            <select id="a_pavimentado" name="pavimentado" class="">
                                <option value="">Todos</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                            <div class="select-fake">Todos</div>
                        </div>
                        <div class="parent-select">
                            <label>Raio de busca até:</label>
                            <select id="a_raio" name="raio" class="">
                                <option value=""></option>
                                <option value="10">10 km</option>
                                <option value="20">20 km</option>
                                <option value="30">30 km</option>
                                <option value="50">50 km</option>
                                <option value="100">100 km</option>
                                <option value="150">150 km</option>
                            </select>
                            <div class="select-fake"></div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="box-full">
                            <p style="margin-right: 11px;">Operação:</p>
                            	<input type="checkbox" name="vfr_diurno" id="VFR-diurno-aeroporto" value="Sim" class="checkbox"/>
                            <label for="VFR-diurno-aeroporto">VFR diurno</label>
                            	<input type="checkbox" name="vfr_noturno" id="VFR-noturno-aeroporto" value="Sim" class="checkbox"/>
                            <label for="VFR-noturno-aeroporto">VFR noturno</label>
                            	<input type="checkbox" name="ifr_diurno" id="IFR-diurno-aeroporto" value="Sim" class="checkbox"/>
                            <label for="IFR-diurno-aeroporto">IFR diurno</label>
                            	<input type="checkbox" name="ifr_noturno" id="IFR-noturno-aeroporto" value="Sim" class="checkbox"/>
                            <label for="IFR-noturno-aeroporto">IFR noturno</label>
                        </div>
                        <label for="comprimento-aeroporto" style="width: 94px !important; margin-left: 0;">Comprimento mínimo de pista (m):</label>
                        <input type="text" name="comprimento" maxlength="4" id="comprimento-aeroporto" value="" style="width:376px;" class=""/>
                        <input type="submit" class="submit" value=""/>
                    </fieldset>
                </form>
                <div class="title-SearchAvancada" id="toggle-avancada-aeroporto"><em></em>Busca Avançada</div>
            </div>
            <!-- Aba 6 -->
            <div id="aba6" class="box-aba">
                <form id="searchHangares" class="formSearch validate buscaClassificados" method="get" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado">
                    <input type="hidden" name="busca" value="hangar" />
                    <input type="hidden" name="tipo" value="simples" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />
                    <label>Busca simples</label>
                    <fieldset>
                        <div class="parent-select">
                            <label>Venda/Aluguel:</label>
                            <select id="hangar-negocio" name="negocio" class="">
                                                                    <option value="">Todos</option>
                                    <option value="1">Venda</option>
                                    <option value="2">Aluguel</option>
                                                            </select>
                                                            <div class="select-fake">Todos</div>
                                                    </div>
                        <label for="aeroporto-hangares">Aeroporto:</label>
                        	<input type="text" placeholder="Nome do aeródromo ou heliponto" name="aeroporto" maxlength="30" id="aeroporto-hangares" value="" class=""/>
                        <label for="codigo-hangares">Código ICAO:</label>
                        	<input type="text" name="icao" maxlength="4" id="codigo-hangares" value="" class=""/>
                    </fieldset>
                    <fieldset>
                        <div class="parent-select">
                            <label>Estado:</label>
                            <select id="estado-hangares" name="estado" class="">
                                <option value=""></option>
                            </select>
                            <div class="select-fake"></div>
                        </div>
                        <div class="parent-select">
                            <label>Cidade:</label>
                            <select id="cidade-hangares" name="cidade" class="">
                                <option value="">Todas</option>
                            </select>
                            <div class="select-fake">Todas</div>
                        </div>
                        <input type="submit" class="submit" value=""  id="submit-hangar-simples"/>
                    </fieldset>
                </form>
                <script>
                    jq(document).ready(function() {
                        jq('#searchAvHangares').submit(function() {
                            jq('#hidden-cidade-hangar').val(jq('#cidade-hangares').val());
                            jq('#hidden-estado-hangar').val(jq('#estado-hangares').val());
                            jq('#hidden-hangar-negocio').val(jq('#hangar-negocio').val());
                            jq('#hidden-aeroporto-hangares').val(jq('#aeroporto-hangares').val());
                            jq('#hidden-codigo-hangares').val(jq('#codigo-hangares').val());
                        });
                    });
                </script>
                <form id="searchAvHangares" class="formSearch formSearchAvancada validate buscaClassificados" method="get" action="../../external.html?link=http://www.flightmarket.com.br/pt/busca/resultado" style="display:none;">
                    <input type="hidden" name="busca" value="hangar" />
                    <input type="hidden" name="tipo" value="avancada" />
                    <input type="hidden" id="hidden-cidade-hangar" name="cidade" value="" />
                    <input type="hidden" id="hidden-estado-hangar" name="estado" value="" />
                    <input type="hidden" id="hidden-hangar-negocio" name="negocio" value="" />
                    <input type="hidden" id="hidden-aeroporto-hangares" name="aeroporto" value="" />
                    <input type="hidden" id="hidden-codigo-hangares" name="icao" value="" />
                    <input type="hidden" name="page" value="0" />
                    <input type="hidden" name="results" value="10" />
                    <fieldset>
                        <div class="parent-select">
                            <label style="line-height:36px !important;">Tipo:</label>
                            <select id="h_tipo_aeroporto" name="tipo_aeroporto" class="">
                                <option value="">Todos</option>
                                <option value="AERÓDROMO">AERÓDROMO</option>
                                <option value="HELIPONTO">HELIPONTO</option>
                            </select>
                            <div class="select-fake">Todos</div>
                        </div>
                        <div class="parent-select">
                            <label style="line-height:36px !important;">Pavimentado?:</label>
                            <select id="h_pavimentado" name="pavimentado" class="">
                                <option value="">Todos</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                            <div class="select-fake">Todos</div>
                        </div>
                        <label for="comprimento-hangares">Comprimento mínimo de pista (m):</label>
                        <input type="text" name="comprimento" maxlength="4" id="comprimento-hangares" value="" class=""/>
                    </fieldset>
                    <fieldset>
                        <div class="box-full">
                            <p>Operação:</p>
                           		<input type="checkbox" name="vfr_diurno" id="VFR-diurno-hangares" value="Sim" class="checkbox"/>
                            <label for="VFR-diurno-hangares">VFR diurno</label>
                            	<input type="checkbox" name="vfr_noturno" id="VFR-noturno-hangares" value="Sim" class="checkbox"/>
                            <label for="VFR-noturno-hangares">VFR noturno</label>
                            	<input type="checkbox" name="ifr_diurno" id="IFR-diurno-hangares" value="Sim" class="checkbox"/>
                            <label for="IFR-diurno-hangares">IFR diurno</label>
                            	<input type="checkbox" name="ifr_noturno" id="IFR-noturno-hangares" value="Sim" class="checkbox"/>
                            <label for="IFR-noturno-hangares">IFR noturno</label>
                        </div>
                        <div class="parent-select">
                            <label style="width: 57px !important; margin-left:23px;">Raio de busca até:</label>
                            <select id="h_raio" name="raio" class="">
                                <option value=""></option>
                                <option value="10">10 km</option>
                                <option value="20">20 km</option>
                                <option value="30">30 km</option>
                                <option value="50">50 km</option>
                                <option value="100">100 km</option>
                                <option value="150">150 km</option>
                            </select>
                            <div class="select-fake" style="margin-left: 89px;"></div>
                        </div>
                        <input type="submit" class="submit" value=""/>
                    </fieldset>
                </form>
                <div class="title-SearchAvancada" id="toggle-avancada-hangar"><em></em>Busca Avançada</div>
            </div>
        </div>
        <p id="abas">
            <a href="#aba1" id="tab-aeronave" class="selected"><span></span><em><i class="flat20 flaticon-frontal-truck"></i></em> Marca / Modelo</a>
            <a href="#aba2" id="tab-partes"><em><i class="flat20 flaticon-repair-mechanism"></i></em>Partes e peças</a>
            <a href="#aba3" id="tab-servicos"><em><i class="flat20 flaticon-screwdriver-and-wrench"></i></em>Serviços</a>
            <a href="#aba6" id="tab-hangares"><em><i class="flat20 flaticon-transport-28"></i></em>Fretes</a>
            <a href="#aba5" id="tab-aeroportos"><em><i class="flat20 flaticon-seller"></i></em>Revenda</a>
            <a href="#aba4" id="tab-empregos"><em><i class="flat20 flaticon-meeting"></i></em>Empregos</a>
        </p>
    </div>
  </div>
  </th:block>