<th:block th:fragment="classifieds">

<div class="col-lg-9 content-right">
	<div class="hidden-xs hidden-sm"></div>
		<h4>Recomendados</h4>
		<div class="row selected-classifieds">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/VOLVO_FH_440.jpg" /></a>
						<div class="caption">
							<h5><a href="#">VOLVO FH 440</a></h5>
							<h5><a href="#">Guisolphi Camin... - SC</a></h5>
							<p class="price">150 mil Reais</p>
						</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/SCANIA_420.jpg" /></a>
					<div class="caption">
						<h5><a href="#">SCANIA 420</a></h5>
						<h5><a href="#">Real Cred Camin... - SP</a></h5>
						<p class="price">196 mil Reais</p>                 
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/1.jpg" /></a>
					<div class="caption">
						<h5><a href="#">Logitech 2.1 HS-263</a></h5>
						<h5><a href="#">Real Cred Camin... - SP</a></h5>
						<p class="price">36 EUR</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/2.jpg" /></a>
					<div class="caption">
						<h5><a href="#">Apple McBook Pro</a></h5>
						<h5><a href="#">Real Cred Camin... - SP</a></h5>
						<p class="price">740 EUR</p>                    
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/3.jpg" /></a>
					<div class="caption">
						<h5><a href="#">Adidas Blake 46"</a></h5>
						<p class="price">55 EUR</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/4.jpg" /></a>
					<div class="caption">
						<h5><a href="#">Card reader MobileLite G2</a></h5>
						<p class="price">10 EUR</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/5.jpg" /></a>
					<div class="caption">
						<h5><a href="#">Electonics toolkit (40 pieces)</a></h5>
						<p class="price">28 EUR</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
				<div class="thumbnail">
					<a href="#"><img src="img/classificados/6.jpg" /></a>
					<div class="caption">
						<h5><a href="#">Nokia Lumia 800</a></h5>
						<p class="price">185 EUR</p>
					</div>
				</div>
			</div>
	</div>
</div>
</th:block>