<th:block th:fragment="marketing">
				<div class="col-lg-3 content-left">
					<div class="well well-sm hidden-lg">
						<div class="mobile-categories"></div>
					</div>
					<div class="categories list-group hidden-xs hidden-sm hidden-md">
						
						<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" style="width: 240px; height: 120px;" th:src="@{/img/propagandas/cocal140x60.jpg}" />
								</a>
							</div>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" style="width: 240px; height: 120px;" th:src="@{img/propagandas/dallagnal140x60.jpg}" />
								</a>
							</div>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" style="width: 240px; height: 120px;" th:src="@{img/propagandas/portalcaminhoes140x60.gif}" />
								</a>
							</div>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" style="width: 240px; height: 120px;" src="img/propagandas/hungard_140x60.jpg" />
								</a>
							</div>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" style="width: 240px; height: 120px;;" src="img/propagandas/rodolima_140x60.jpg" />
								</a>
							</div>
							<div class="media">
								<a class="pull-left" href="#">
									<img class="media-object" style="width: 240px; height: 120px;;" src="img/propagandas/valentim_140x61.gif" />
								</a>
							</div>
					</div>
				</div>
		</th:block>