<th:block th:fragment="category">
<div class="col-category">
		<h1 class="col-title-category">Caminhões e equipamentos à venda</h1>
				<span class="subtitle-busca">BUSCA POR CATEGORIA - <small>Mais buscadas...</small></span>
		<nav class="nav-category">
		<ul>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat40 flaticon-frontal-truck"></span>
						<span class="subtitle-aircraft"><br/>Caminhões</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat40 flaticon-black"></span>
						<span class="subtitle-aircraft"><br/>Carretas</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat40-left-space flaticon-transport-15"></span>
                        <span class="subtitle-aircraft">Onibus<br/> micro-onibus</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat40 flaticon-tractor-1"></span>
                        <span class="subtitle-aircraft">Máquinas<br/>Agrícolas</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat40-left-space flaticon-transport-9"></span>
						<span class="subtitle-aircraft">Colheitaderas<br/> e escavadeiras</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat50 flaticon-transport-2"></span>
						<span class="subtitle-aircraft">Tanques</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat50 flaticon-transport-8"></span>
						<span class="subtitle-aircraft">Guinchos</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat50 flaticon-transport-13"></span>
						<span class="subtitle-aircraft">Plataformas</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat50 flaticon-transport-10"></span>
						<span class="subtitle-aircraft">Basculhantes</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="#">
						<span class="flat50 flaticon-tire"></span>
						<span class="subtitle-aircraft">Pneus</span>
					</a>
				</li>
				<li>
					<a class="col-category-item" href="aeronaves/index.html">
						<div class="col-img-category col-img-veja-mais"></div>
						<span class="subtitle-aircraft">Veja mais</span>
					</a>
				</li>
			</ul>
					</nav>
	</div>
</th:block>