<th:block th:fragment="featured">
<div class="col-title">
        <h2 class="category">CAMINHÕES, CARRETAS E EQUIPAMENTOS</h2> - DESTAQUES
     </div>
 			<ul id="destaques" class="anuncios-destaques-cookie">
                    <li>
                    <a href="aeronaves/turboelices/beechcraft/king-air-250/2672.html" title="Ver detalhes">
                     <img src="../uploads/aeronaves/2672/thumb_beechcraft-king-air-250-2012-5-venda-flightmarket-2733.jpg" alt="BEECHCRAFT KING AIR 250" title="BEECHCRAFT KING AIR 250 2012"/>
                     </a>
                <p>
                    <strong>BEECHCRAFT</strong>
                    KING AIR 250 - <em>2012</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr22-g2/3007.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/3007/thumb_cirrus-sr22-g2-2004-7-venda-flightmarket-5708.jpg" alt="CIRRUS SR22 G2" title="CIRRUS SR22 G2 2004"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR22 G2 - <em>2004</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/helicopteros-turbina/agusta/a109-power/2573.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2573/thumb_agusta-a109e-2009-1-venda-flightmarket-3637.jpg" alt="AGUSTA A109 POWER" title="AGUSTA A109 POWER 2009"/>
                                    </a>
                <p>
                    <strong>AGUSTA</strong>
                    A109 POWER - <em>2009</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/bimotores-a-pistao/piper/pa-34-220t-seneca-v/2382.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2382/thumb_piper-pa-34-220t-seneca-v-2002-6-venda-flightmarket-5816.jpg" alt="PIPER PA-34-220T SENECA V" title="PIPER PA-34-220T SENECA V 2002"/>
                                    </a>
                <p>
                    <strong>PIPER</strong>
                    PA-34-220T SE... - <em>2002</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr22-g5-grand/2608.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2608/thumb_cirrus-sr22-grand-2013-7-venda-flightmarket-5808.jpg" alt="CIRRUS SR22 G5 GRAND" title="CIRRUS SR22 G5 GRAND 2013"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR22 G5 GRAND - <em>2013</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/bimotores-a-pistao/beechcraft/baron-58/822.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/822/thumb_beechcraft-58-baron-2005-bimotor-venda-flightmarket-3734.jpg" alt="BEECHCRAFT BARON 58" title="BEECHCRAFT BARON 58 2005"/>
                                    </a>
                <p>
                    <strong>BEECHCRAFT</strong>
                    BARON 58 - <em>2005</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/jatos-executivos/beechcraft/premier-ia/2654.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2654/thumb_beechcraft-premier-ia-2007-4-venda-flightmarket-4731.jpg" alt="BEECHCRAFT PREMIER IA" title="BEECHCRAFT PREMIER IA 2007"/>
                                    </a>
                <p>
                    <strong>BEECHCRAFT</strong>
                    PREMIER IA - <em>2007</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/bimotores-a-pistao/piper/pa-34-220t-seneca-v/1408.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/1408/thumb_piper-seneca-v-1997-bimotor-venda-flightmarket-6086.jpg" alt="PIPER PA-34-220T SENECA V" title="PIPER PA-34-220T SENECA V 1997"/>
                                    </a>
                <p>
                    <strong>PIPER</strong>
                    PA-34-220T SE... - <em>1997</em>
                </p>
            </li>
                    <li>
                                <a href="aeronaves/bimotores-a-pistao/beechcraft/baron-b55/3174.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/3174/thumb_beechcraft-baron-b55-1982-6-venda-flightmarket-2641.jpg" alt="BEECHCRAFT BARON B55" title="BEECHCRAFT BARON B55 1982"/>
                                    </a>
                <p>
                    <strong>BEECHCRAFT</strong>
                    BARON B55 - <em>1982</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            <li>
                                <a href="aeronaves/monomotores-a-pistao/cirrus/sr20-g2-gts/2539.html" title="Ver detalhes">
                                            <img src="../uploads/aeronaves/2539/thumb_cirrus-sr20-g2-gts-2007-7-venda-flightmarket-3317.jpg" alt="CIRRUS SR20 G2 GTS" title="CIRRUS SR20 G2 GTS 2007"/>
                                    </a>
                <p>
                    <strong>CIRRUS</strong>
                    SR20 G2 GTS - <em>2007</em>
                </p>
            </li>
            
            </ul>
 </th:block>