<th:block th:fragment="last">
<div class="col-title">
        <h2>ÚLTIMOS ANÚNCIOS CADASTRADOS</h2>
    </div>
    <div id="ultimos-adcionados" class="ultimos-adcionados-cookie">
        <ul>
        	<li><a href="aeronaves/jatos-executivos/cessna/citation-xls/3265.html" title="Ver detalhes">CESSNA CITATION XLS - 2005</a></li>
            <li><a href="aeronaves/helicopteros-pistao/robinson/r44-raven-ii/3264.html" title="Ver detalhes">ROBINSON R44 RAVEN II - 2011</a></li>
            <li><a href="aeronaves/jatos-executivos/hawker/850xp/3263.html" title="Ver detalhes">HAWKER 850XP - 2006</a></li>
            <li><a href="aeronaves/turboelices/pilatus/pc-12-ng/3261.html" title="Ver detalhes">PILATUS PC-12 NG - 2009</a></li>
            <li><a href="aeronaves/helicopteros-pistao/robinson/r44-raven-ii/3260.html" title="Ver detalhes">ROBINSON R44 RAVEN II - 2010</a></li>
            <li><a href="aeronaves/helicopteros-turbina/bell/429/3259.html" title="Ver detalhes">BELL 429 - 2012</a></li>
            <li><a href="aeronaves/jatos-executivos/cessna/citation-mustang-510/3258.html" title="Ver detalhes">CESSNA CITATION MUSTANG 510 - 2009</a></li>
            <li><a href="aeronaves/monomotores-a-pistao/piper/pa-32r-301t-saratoga-ii-tc/3257.html" title="Ver detalhes">PIPER PA-32R-301T SARATOGA II TC - 2005</a></li>
            <li><a href="aeronaves/turboelices/beechcraft/king-air-c90gtx/3256.html" title="Ver detalhes">BEECHCRAFT KING AIR C90GTx - 2012</a></li>
            <li><a href="aeronaves/jatos-executivos/hawker/400xp/3255.html" title="Ver detalhes">HAWKER 400XP - 2006</a></li>
        </ul>
    </div>
</th:block>