<th:block th:fragment="mainplayers">
<div class="col-title">
        <h2>PRINCIPAIS FABRICANTES</h2>
         <a href="fabricantes/index.html" class="view-more">Veja mais</a>
    </div>
    <div id="lista-fabricantes" class="lista-fabricantes-cookie">
       		<ul>                
       			<li><a href="fabricantes/cessna.html" title="Ver detalhes">CESSNA</a></li>
                <li><a href="fabricantes/beechcraft.html" title="Ver detalhes">BEECHCRAFT</a></li>
                <li><a href="fabricantes/piper.html" title="Ver detalhes">PIPER</a></li>
                <li><a href="fabricantes/embraer.html" title="Ver detalhes">EMBRAER</a></li>
                <li><a href="fabricantes/robinson.html" title="Ver detalhes">ROBINSON</a></li>
            </ul>
            <ul>                
				<li><a href="fabricantes/cirrus.html" title="Ver detalhes">CIRRUS</a></li>
                <li><a href="fabricantes/eurocopter.html" title="Ver detalhes">EUROCOPTER</a></li>
                <li><a href="fabricantes/learjet.html" title="Ver detalhes">LEARJET</a></li>
                <li><a href="fabricantes/agusta.html" title="Ver detalhes">AGUSTA</a></li>
                <li><a href="fabricantes/daher.html" title="Ver detalhes">DAHER</a></li>
            </ul>
            <ul>                
            	<li><a href="fabricantes/bell.html" title="Ver detalhes">BELL</a></li>
                <li><a href="fabricantes/dassault.html" title="Ver detalhes">DASSAULT</a></li>
                <li><a href="fabricantes/gulfstream.html" title="Ver detalhes">GULFSTREAM</a></li>
                <li><a href="fabricantes/index.html" title="Ver detalhes"></a></li>
                <li><a href="fabricantes/vans-aircraft.html" title="Ver detalhes">VANS AIRCRAFT</a></li>
            </ul>    
     </div>
</th:block>