<th:block th:fragment="news">
	<div class="col-title">
		<h2>Notícias</h2>
	</div>
  	<div id="box-noticias">
        <div class="noticias">
            <a href="detalhes-noticia/embraer-apresenta-novo-jato-executivo-phenom-300e.html">
               <img src="../uploads/noticias/768/628x429_embraer-apresenta-novo-jato-executivo-phenom-300e-flightmarket-1322000000.jpg" width="496" height="" alt="Embraer apresenta novo jato executivo Phenom 300E" title="Embraer apresenta novo jato executivo Phenom 300E"/>
            </a>
        <div>
            <a href="detalhes-noticia/embraer-apresenta-novo-jato-executivo-phenom-300e.html">
               <span class="title-destaque">Embraer apresenta novo jato executivo Phenom 300E</span>
                      <p>Atualização do Phenom 300 incorpora interior remodelado e novo sistema de entretenimento e gerenciamento de cabine.</p>
            </a>
       </div>
       </div>
            <div class="noticias marginNo">
                <a href="detalhes-noticia/piper-retoma-servico-de-frota-groundeada-do-m600.html">
                    <img src="../uploads/noticias/767/299x204_piper-retoma-servico-de-frota-groundeada-do-m600-flightmarket-3116000000.jpg" width="239" height="" alt="" title=""/>
                </a>
                <div>
                    <a href="detalhes-noticia/piper-retoma-servico-de-frota-groundeada-do-m600.html">
                        <span class="title-destaque">Piper retoma serviço de frota “groundeada” do M600</span>
                    </a>
                </div>
            </div>
            <div class="noticias marginNo">
                <a href="detalhes-noticia/nextant-faz-primeiro-voo-do-challenger-604-com-cockpit-pro-line-fusion.html">
                    <img src="../uploads/noticias/765/299x204_nextant-faz-primeiro-voo-do-challenger-604-com-cockpit-pro-line-fusion-flightmarket-2622000000.jpg" width="239" height="" alt="" title=""/>
                </a>
                <div>
                    <a href="detalhes-noticia/nextant-faz-primeiro-voo-do-challenger-604-com-cockpit-pro-line-fusion.html">
                        <span class="title-destaque">Nextant faz primeiro voo do Challenger 604 com cockpit Pro Line Fusion</span>
                    </a>
                </div>
            </div>
            <div id="outras-news">
        <p>Outras Notícias</p>
        <ul>
            <li>
               <a href="detalhes-noticia/lilium-aviation-levanta-us-90-milhoes-em-nova-rodada-de-investimentos.html">
                  <span class="title-noticia">Lilium Aviation levanta US$ 90 milhões em nova rodada de investimentos</span>
                  <p>13/09/2017</p>
               </a>
            </li>
            <li>
               <a href="detalhes-noticia/blackhawk-obtem-aprovacao-para-king-air-xp67a.html">
                  <span class="title-noticia">Blackhawk obtém aprovação para King Air XP67A</span>
                     <p>30/08/2017</p>
                </a>
            </li>
            <li>
                <a href="detalhes-noticia/pilatus-pc-6-porter-tera-producao-encerrada-em-2019.html">
                   <span class="title-noticia">Pilatus PC-6 Porter terá produção encerrada em 2019</span>
                   <p>28/08/2017</p>
                </a>
            </li>
        </ul>
        <div id="more-news">
            <a href="noticias/index.html">Veja mais</a>
        </div>
    </div>
</div>
 </th:block>