<th:block th:fragment="complete">
    	<div id="box-form">
            <form id="formSeguro" th:action="@{/user/complete}" class="formCadastro formToCenter" method="POST">
            	<input type="hidden" name="confirmcode" id="confirmcode" th:value="${userDataVM.confirmcode}"/>
            	<input type="hidden" name="id" id="id" th:value="${userDataVM.id}"/>
                <h2 class="toLeft">Dados do usuário</h2>
                <fieldset class="input-radio full">
                    <label>Tipo de usuário:</label>
                    <div class="clear"></div>
                    <input tabindex="1" type="radio" name="cadtype" id="pessoa-fisica" class="validate[required] tipoPessoa" value="fisica" checked="checked"/>
                    <label for="pessoa-fisica">Pessoa Física</label>
                    <input tabindex="1" type="radio" name="cadtype" id="pessoa-juridica" class="validate[required] tipoPessoa" value="juridica"/>
                    <label for="pessoa-juridica">Pessoa Jurídica</label>
                </fieldset>
                <fieldset>
                    <label for="password">Senha:<em>*</em></label>
                    <input tabindex="2" type="password" name="password" id="password" class="validate[required]"/>
                </fieldset>
                 <fieldset class="right">
                    <label for="password">Repita a senha:<em>*</em></label>
                    <input tabindex="3" type="password" name="password" id="passwordRep" class="validate[equals[password]]"/>
                </fieldset>
                <fieldset class="containerCnpj right" style="display: none;">
                    <label for="razao_social">Razão Social <em>(*)</em>:</label>
                    <input tabindex="4" type="text" name="companyName" id="inputRazaoSocial" value="" class="validate[required]"/>
                </fieldset>
                <fieldset class="containerCpf right">
                    <label for="razao_social">Data de nascimento <em>(*)</em>:</label>
                    <input tabindex="5" type="text" name="birthdate" id="birthdate" value="" class="validate[required]"/>
                </fieldset>
                <fieldset class="containerCnpj left" style="display: none;">
                    <label for="nome">Nome fantasia<em>*</em>:</label>
                    <input tabindex="19" type="text" name="namefantasy" id="namefantasy" th:value="${userDataVM.name}" value="" class="validate[required]"/>
                </fieldset>
                <fieldset class="containerCpf ">
                    <label for="nome">Nome Completo<em>*</em>:</label>
                    <input tabindex="4" type="text" name="name" id="name" th:value="${userDataVM.name}" value="" class="validate[required]"/>
                </fieldset>
                <fieldset class="containerCpf">
                    <label for="cpf">CPF <em>(* somente números)</em>:</label>
                    <input tabindex="6" type="text" name="document" id="cpf" value="" class="validate[required,funcCall[verificaCpf]] cpf"/>
                </fieldset>
                <fieldset class="containerCnpj" style="display: none;">
                    <label for="cnpj">CNPJ <em>(* somente números)</em>:</label>
                    <input tabindex="6" type="text" name="document" id="cnpj" value="" class="validate[required, funcCall[verificaCnpj]] cnpj"/>
                </fieldset>
                <fieldset class="right">
                    <label for="email">E-mail<em>*</em>:</label>
                    <input tabindex="18" type="text" readonly="readonly" name="email" id="email" th:value="${userDataVM.email}" class="validate[required],custom[email]"/>
                </fieldset>
                <fieldset>
                    <label for="cep">CEP:</label>
                    <input tabindex="7" type="text" name="postal" id="postal" onChange="pesquisacep( this.value);" value="" class="cep"/>
                </fieldset>
                <fieldset class="right parent-select">
                	 <fieldset>
	                    <label for="estado">Estado<em>*</em>:</label> 
	                    <input tabindex="8" type="text" name="state" id="state" value="" class="" style="width: 133px;"/>
                    </fieldset>
                    <fieldset>
	                    <label for="endereco">Rua:</label>
	                    <input tabindex="9" type="text" name="street" id="street" value="" class="" style="width: 302px;"/>
                	</fieldset>
                </fieldset>
                <fieldset class="left">
                    <label for="cidade">Cidade<em>*</em>:</label> 
                    <input tabindex="10" type="text" name="city" id="city" value="" class="" />
                </fieldset>
                <fieldset class="right">
                	<fieldset>
                        <label for="numero">Número:</label>
                        <input tabindex="11" type="text" name="number" id="number" value="" class="validate[custom[number]]"/>
                    </fieldset>
                    <fieldset>
	                    <label for="bairro">Bairro:</label>
	                    <input tabindex="12" type="text" name="neighborhood" id="neighborhood" value="" class="" style="width: 302px;"/>
	                </fieldset>
                </fieldset>
               	<fieldset class="left">
                       <label for="complemento">Complemento:</label>
                       <input tabindex="13" type="text" name="complement" value=""/>
                </fieldset>
                <fieldset class="right">
                	<fieldset>
	                    <label for="phone-residen">Telefone Fixo <em>*</em> :</label>
	                    <input tabindex="14" type="text" name="telephone" id="homephone" value="" style="width: 220px;"/>
                    </fieldset>
                    <fieldset class="right">
	                    <label for="celular">Celular:</label>
	                    <input tabindex="15" type="text" name="cellphone" id="cellphone" value="" style="width: 220px;"/>
                	</fieldset>
                </fieldset>
                
                <fieldset class="full">
                	<input tabindex="16" type="submit" value="Enviar" class="submit"/>
                </fieldset>
            </form>
        </div>
</th:block>